@charset "UTF-8";

/***************/
/** VARIABLES **/
/***************/
:root {
  --color-accent: orange;
  --color-alert: red;
  --color-border: #aaa;

  --color-webpage-text: #f6f6f6;
  --color-webpage-background: #333;

  --color-dice-text: #333;
  --color-dice-background: #f6f6f6;

  --font-family: Arial, Helvetica, sans-serif;
}


/***********/
/** RESET **/
/***********/
* {
  border: none;
  box-sizing: border-box;
  font-family: var(--font-family);
  font-size: 100%;
  letter-spacing: 0.1rem;
  margin: 0;
  outline: none;
  padding: 0;
  word-wrap: break-word;
}


/************/
/** LAYOUT **/
/************/
html, body {
  background-color: var(--color-webpage-background);
  color: var(--color-webpage-text);
  height: 100vh;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

main {
  flex: 1;
  overflow: auto;
  padding: 1rem;
}

footer {
  border-top: thin solid var(--color-border);
  flex: 0;
  font-size: 0.75rem;
  padding: 1rem;
}

a:active,
a:hover,
a:link,
a:visited {
  color: var(--color-accent);
}



/************/
/** HEADER **/
/************/
header {
  align-items: center;
  border-bottom: thin solid var(--color-border);
  display: flex;
  flex: 0;
  flex-wrap: wrap;
  padding: 1rem;
}

header > h1 {
  flex: 1;
  font-size: 2rem;
  font-weight: bold;
  margin: 0;
}

header > #timer {
  flex: 1;
  font-size: 1.5rem;
  padding: 0 1rem;
  text-align: center;
}

header > #timer.timeOut {
  color: var(--color-alert);
}

header > nav {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

header > nav > button {
  background-color: var(--color-website-background);
  border: thin solid var(--color-border);
  border-radius: 0.5rem;
  color: var(--color-text);
  cursor: pointer;
  display: block;
  font-size: 1.25rem;
  margin: 0.5rem 0 0.5rem 1rem;
  padding: 0.5rem 1rem;
  transition: background-color 0.5s ease;
}

header > nav > button.hide {
  visibility: hidden;
}

header > nav > button:hover {
  border-color: var(--color-accent);
  box-shadow: 0 0 1rem 0 var(--color-accent) inset;
  color: var(--color-accent);
}

header > nav > button:first-child {
  margin-left: 0;
}


/**********/
/** INFO **/
/**********/
#info.hide {
  display: none;
}

#info > h2 {
  font-size: 1.25rem;
  font-weight: bold;
  line-height: 2;
}

#info > p {
  line-height: 1.5;
  margin-bottom: 1rem;
}

#info > ul { margin: 0 0 1rem 2rem; }
#info > ul li { margin: 0 0 0.5rem 0; }


/***********/
/** BOARD **/
/***********/
#board {
  display: none;
  flex-wrap: wrap;
  height: 100%;
  justify-content: space-around;
  margin: 0 auto;
  transition: all 0.3s ease-in-out;
  width: 100%;
}

#board > div {
  align-items: center;
  background-color: var(--color-dice-background);
  border: thin solid var(--color-border);
  border-radius: 1rem;
  color: var(--color-dice-text);
  display: flex;
  flex: 0 0 24%;
  height: 24%;
  justify-content: center;
  transition: all 0.3s 0.3s ease-in-out;
  width: 24%;
}

#board.stopped > div {
  color: var(--color-alert);
}

#board.rotate1 {
  transform: rotate(90deg);
}
#board.rotate1 > div {
  transform: rotate(-90deg);
}

#board.rotate2 {
  transform: rotate(180deg);
}
#board.rotate2 > div {
  transform: rotate(-180deg);
}

#board.rotate3 {
  transform: rotate(270deg);
}
#board.rotate3 > div {
  transform: rotate(-270deg);
}


/***************/
/** COUNTDOWN **/
/***************/
#countdown {
  align-items: center;
  color: var(--color-text);
  display: none;
  font-size: 6rem;
  height: 100%;
  justify-content: center;
  transition: all 0.3s 0.3s ease-in-out;
}

#countdown.display {
  display: flex;
}
